################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MonocoBot/bin/Debug/net10.0
/MonocoBot/obj
/MonocoBot/bin/Release/net10.0
